<template>
  <v-container grid-list-md>
    <v-layout wrap>
      <v-flex class="primary" xs12>
        <h1>12</h1>
      </v-flex>
      <v-flex class="secondary" xs6>
        <h1>6</h1>
      </v-flex>
       <v-flex class="error" xs6>
        <h1>6</h1>
      </v-flex>
    </v-layout>

    <v-layout mt-5 justify-center>
      <v-flex class="info" xs3>
        <h1>centrado</h1>
      </v-flex>
        <v-flex class="success" xs3>
        <h1>centrado verde</h1>
      </v-flex>
    </v-layout>

    <v-layout mt-5 row wrap>
      <v-flex xs12 sm6>
        <v-card>

          <v-img src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"></v-img>

          <v-card-title>
            <h2>Lorem, ipsum dolor.</h2>
          </v-card-title>

          <v-card-text>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque doloribus ad hic! </p>
          </v-card-text>

          <v-card-actions>
            <v-btn color="info" @click="dialog=true">Accion</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>

      <v-flex xs12 sm6>
        <v-card>

          <v-img src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"></v-img>

          <v-card-title>
            <h2>Lorem, ipsum dolor.</h2>
          </v-card-title>

          <v-card-text>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque doloribus ad hic! </p>
          </v-card-text>

          <v-card-actions>
            <v-btn color="info"  @click="dialog=true">Accion</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialog" width="500px">
      <v-card>
        <v-card-title>TITULO PULENTOSO CREADO POR GATOISI</v-card-title>
        <v-card-text>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error doloremque esse accusantium.</v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn @click="dialog = false">Cerrar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-container>
</template>

<script>

export default {
  name: 'Home',
  data() {
    return{
      dialog: false 
    }
  },
}

</script>
